vrrp_instance {{ name_server }} {
    state {{ state }}
    interface ens18
    virtual_router_id 101
    priority {{ priority }}
    authentication {
        auth_type PASS
        auth_pass 1234
    }
    virtual_ipaddress {
        192.168.31.105
    }
}
